In [ ]:
Operators:
    Arithmetic Operators
    +,-,*,/,//,%,**
    Logical Operators
    and,or,not

In [5]:
5//2

2

In [7]:
56//7

8

In [9]:
67//31.1

2.0

In [10]:
5%2

1

In [12]:
11%4 # it will give you remainder when you divide 11 by 4

3

In [1]:
2**3

8

In [3]:
3**2

9

# Identity Operators

In [ ]:
is
is not

They return bool
It will return True if both the id's are same.

In [16]:
x = 5
y = 10

In [17]:
x is y

False

In [18]:
x = 5
y = 5

In [19]:
x is y

True

In [20]:
print(id(x))
print(id(y))

1415444464
1415444464

In [21]:
x = [1,2]
y = [1,2]
print(id(x))
print(id(y))

100640744
100640840

In [22]:
x is y

False

In [23]:
x is not y

True

In [24]:
x = 5
y = 5

In [25]:
x is not y

False

In [26]:
x is not None

True

In [27]:
x = None

In [28]:
x is not None

False

In [29]:
x = 'apple'
y = 'apple'
print(x is y)

True

In [30]:
x = 'false'
print(type(x))

<class 'str'>

In [31]:
x = False
print(type(x))

<class 'bool'>

# Membership Operators

In [36]:
in
not in
They return bool
They check for membership in:-
list
dict
str
tuple
set

we can't do it for:-
int
float
None
bool

x = [1,2,3,4]
print(3 in x)

True

In [37]:
x = [1,2,3,4]
print(3 not in x)

False

In [38]:
x = (1,2,3,4)
print(3 in x)

True

In [39]:
x = 'apple'
'a' in x

True

In [40]:
x = {'python':3,'java':8}
'python' in x

True

In [41]:
3 in x

False

In [42]:
x = {'mango','kiwi'}
'pineapple' not in x

True

In [43]:
'mango' in x

True

In [44]:
x = 0.1, 0.58, 3.08
print (0.1 in x)

True

# Comparison Operators

In [ ]:
==
<
>
<=
>=
!=

In [45]:
x = 5
y = 5

In [46]:
x == y

True

In [47]:
x = [1,2]
y = [1,2]
x == y

True

In [48]:
id(x) == id(y)

False

In [49]:
x = 1,2,3,4
print(type(x))

<class 'tuple'>

In [50]:
x = 'apple'
y = 'apple'
x == y

True

In [51]:
x = 'apples'
y = 'apple'
x == y

False

In [52]:
x = 4
x = 5
x == y

False

In [53]:
x = 5
y = 6

In [54]:
x > y

False

In [55]:
y > x

True

In [56]:
x < y

True

In [57]:
y < x

False

In [58]:
x = 5
y = 5

In [59]:
x >= y

True

In [60]:
x <= y

True

In [61]:
x = 15
y = 5

In [62]:
x >= y

True

In [63]:
x <= y

False

In [64]:
x = 9
y = 3

In [65]:
x == 3*y

True

In [66]:
x = 8
y = 3

In [67]:
x == 3*y

False

In [70]:
x = 2
y = 12

In [71]:
x != y

True

In [75]:
x = 'apple'
y = 'apples'

In [76]:
x != y

True

In [89]:
m = (5, 6, 7, 8)
print('m =',m)
print('id of m',id(m))
n = (5, 6)
print('id of n before adding (7,8)',id(n))
n =n+ (7, 8)
print('n =',n)
print('id of n after adding (7,8)',id(n))

print('m == n',m==n)
print('m is n',m is n)

m = (5, 6, 7, 8)
id of m 14798152
id of n before adding (7,8) 81693128
n = (5, 6, 7, 8)
id of n after adding (7,8) 14795472
m == n True
m is n False

In [91]:
'a' > 'b'

False

In [92]:
'b' > 'a'

True

In [104]:
'ab' < 'ba'

True

In [105]:
print(ord('a'),ord('c'))

97 99

In [ ]:
## ord
ord gives you the ascii value for a character.

In [96]:
ord('#')

35

In [97]:
ord('A')

65

In [94]:
ord('a')

97

In [95]:
ord('b')

98

# Assignment Operators

In [ ]:
=
+=
-=
*=
/=
//=
%=
**=

In [90]:
x = 7

In [106]:
x = x + 1
print(x)

8

In [107]:
x += 1

In [108]:
print(x)

9

In [109]:
x -= 1
print(x)

8

In [110]:
x *= 2
print(x)

16

In [111]:
x /= 2
print(x)

8.0

In [113]:
x = 8

In [114]:
x //= 2
print(x)

4

In [116]:
x = 5
# x = x%2
x %= 2
print(x)

1

In [117]:
11%4

3

In [118]:
x = 11
x %= 4
print(x)

3

In [ ]:
# x += 1
# x = x + 1

In [119]:
x = 2
x **= 3
# x = x**3
print(x)

8

In [120]:
3**3

27

In [121]:
4**3

64

In [130]:
print('KrishnaKantVerma = Will you date me')

KrishnaKantVerma = Will you date me

In [138]:
reply = 'We are just Friends'
if reply == 'Yes':
    print('KrishnaKantVerma = Shall we go for a coffee?')
    print('I got Yes, I am getting Mad now...')
else:
    print('KrishnaKanvtVerma = I was just kidding.')
    
print('The if else thing above is completed')

KrishnaKanvtVerma = I was just kidding.
The if else thing above is completed

In [135]:
reply = 'Yes'
print(reply == 'Yes')

True

In [137]:
reply = 'We are just Friends'
print(reply == 'Yes')

False

In [140]:
reply = 'We are just Friends'
if reply == 'No':
    print('KrishnaKanvtVerma = I was just kidding.')
else:
    print('KrishnaKantVerma = Shall we go for a coffee?')

KrishnaKantVerma = Shall we go for a coffee?

In [150]:
x = -40
if x>=0:
    print('Positive or 0')
else:
    print('Negative')

Negative

In [159]:
x = int(input())
if x>=0:
    print('Positive or 0')
else:
    print('Negative')

56
Positive or 0

In [156]:
x = input()
print(x,type(x))

apple
apple <class 'str'>

In [157]:
int('t56')

ValueError: invalid literal for int() with base 10: 't56'

In [158]:
int('5')

5

In [164]:
x = [2,3]
if 1 in x:
    print('1 is present in x')
else:
    print('1 is not present in x')

1 is not present in x

In [165]:
x = [1,2,3]
if 1 in x:
    print('1 is present in x')
else:
    print('1 is not present in x')

1 is present in x

In [171]:
reply = 'No'
if reply == 'Yes':
    print('KrishnaKantVerma = Shall we go for a coffee?')
    print('I got Yes, I am getting Mad now...')
elif reply == 'We are just Friends':
    print('KrishnaKantVerma = What do you mean we are just friends?')
    print('Is all of this means nothing to you?')
    print('Dont you see it? Sai Pallavi? Pallaviiii???????')
elif reply == 'I am committed':
    print('KrishnaKantVerma = Bye Bye Tata Khatam!!')
elif reply == 'You deserve better':
    print('KrishnaKantVerma = I know!! but let settle for you untill I get better one!!')
else:
    print('KrishnaKanvtVerma = I was just kidding.')

KrishnaKanvtVerma = I was just kidding.

In [179]:
x = 15
if x > 20:
    print('Positive')
elif x == 15:
    print('x is Fifteen')
elif x%5 == 0:
    print('x is divisble by 5')
else:
    print('In Else block')

x is Fifteen

In [181]:
age=int(input())
if age>=18:
    print('can vote')
else:
    print('cant vote')

15
cant vote

In [ ]:
HW: Create a Program that uses Logical Operators and 
    conditional statements if else.