In [ ]:
Mutable Data Types (Editable):
    list
    dict
    set

Immutable Data Types (Not editable):
    int
    float
    tuple
    bool
    None
    str

In [ ]:
# Operators:
    1) Arithmetic: +,-,*,/,//,%,**
    2) Assignment: =,+=,-=,*=,/=,%=,**=
    3) Comparison: ==, >,<,>=,<=,!=
    4) Identity: is, is not
    5) Membership: in , not in
    6) Logical: and, or , not

In [1]:
x = 40
y = x
print(id(x),id(y))

1373239840 1373239840

In [2]:
x is y

True

In [3]:
x = [1,2]
y = [1,2]
print(id(x),id(y))

9721096 9720872

In [4]:
x is y

False

In [6]:
x = [1,2]
y = [1,2]
x == y

True

In [15]:
'a' in 'apple' and 'l' in 'apple'

True

In [16]:
t1 = (3,4)
print(type(t1))

<class 'tuple'>

In [17]:
t2 = 7,8
print(type(t2))

<class 'tuple'>

In [19]:
t3 = 'a','l' in 'apple'
print(type(t3))

<class 'tuple'>

In [20]:
t3

('a', True)

In [21]:
t3 = 'a','t' in 'apple'
print(type(t3))

<class 'tuple'>

In [22]:
t3

('a', False)

In [ ]:
# Conditional Statments

In [ ]:
HW: Make a Program which will filter out comments from a comment box(comment
    box is list containing strings), which does not contain the word 'BroCode'.
    Print all those which does not contain the brocode.
    
example_comment_box = ['Bhai Bhai BroCode mat tod','BroCode Tod diya isne',
                      'Check my Story guys','I make memes check my account',
                      'OO bhai bhai bhai','Like If you did  not understood the meme']

In [23]:
example_comment_box = ['Bhai Bhai BroCode mat tod','BroCode Tod diya isne',
'Check my Story guys','I make memes check my account',
'OO bhai bhai bhai','Like If you did  not understood the meme']

In [24]:
for comment in example_comment_box:
    print(comment)

Bhai Bhai BroCode mat tod
BroCode Tod diya isne
Check my Story guys
I make memes check my account
OO bhai bhai bhai
Like If you did  not understood the meme

In [25]:
for comment in example_comment_box:
    if 'BroCode' not in comment:
        print(comment)

Check my Story guys
I make memes check my account
OO bhai bhai bhai
Like If you did  not understood the meme

In [ ]:
# Pythonic way of coding.

In [ ]:
Q1 Make a list of numbers from 1 to 5 and print their value using for loop

In [28]:
listOfNumbers = [1,2,3,4,5]

for no in listOfNumbers:
    print(no)

1
2
3
4
5

In [29]:
listOfNumbers = [1,2,3,4,5]

for _ in listOfNumbers:
    print(_)

1
2
3
4
5

In [ ]:
Q2) Print yes if x is divisible by 3 and 5 both

Intuition: since 4 is divisible by 2 it outputs remainder = 0
PseudoCode:
1)Check if remainder obtained by 3 is 0
2)Check if remainder obtained by 5 is 0
3)If anyone of the above 2 are false, than print nope.

In [35]:
x = int(input())
if x%3 == 0 and x%5 == 0:
    print('yes')
else:
    print('nope')

3
nope

In [36]:
True and True

True

In [37]:
True and False

False

In [38]:
False and True

False

In [39]:
False and False

False

## Q3) Print yes if x is divisible by either 3 or 5.

### Intuition: since 4 is divisible by 2 it outputs remainder = 0

### PseudoCode:
    1)Check if remainder obtained by 3 is 0 or by 5 is 0.
    3)If above is true print yes, than print nope.

In [45]:
x = int(input())
if x%3 == 0 or x%5 == 0:
    print('yes')
else:
    print('nope')

13
nope

In [46]:
True or False

True

In [47]:
False or True

True

In [48]:
True or True

True

In [49]:
False or False

False

## Q4) Print yes if x is not divisible by 2 using not logical operator

In [53]:
x = int(input())
if not x%2==0:
    print('yes')

8

In [54]:
not True

False

In [55]:
not False

True

In [57]:
x = int(input())
if x%2!=0:
    print('yes')

5
yes

In [ ]:
True Equivalents
False Equivalents

bool() function

In [61]:
bool('200')

True

In [62]:
bool([1,2,3])

True

In [63]:
bool(False)

False

In [64]:
bool(None)

False

In [60]:
if False:
    print('happy')

In [ ]:
True Equivalents are all those things which have some sort of data.
- All the Numbers(int and float) except 0
- All the collection with some data.

In [70]:
list_of_truthy = [[0],True,8,9.7,-560,-432.76,(1,2),[''],'apple',{'python':3},{1,2}]

for item in list_of_truthy:
    print(item,bool(item))

[0] True
True True
8 True
9.7 True
-560 True
-432.76 True
(1, 2) True
[''] True
apple True
{'python': 3} True
{1, 2} True

In [ ]:
False Equivalents are None,False, and all the collections without some data.

In [72]:
falsy = [False,[],{},set(),'',0,0.0,None,()]

for item in falsy:
    print(item,bool(item))

False False
[] False
{} False
set() False
 False
0 False
0.0 False
None False
() False

In [73]:
x = {}
print(type(x))

<class 'dict'>

In [ ]:
# How would you create an empty set?

# => set()

In [74]:
x = set()
print(type(x))

<class 'set'>

In [75]:
x

set()

In [ ]:
We don't need to use bool() function in conditional statemtns
to use these trythy and falsy.
Conditional sTatements(if) will automatically evaluate it that whether it
is truthy or falsy.

In [93]:
list_fruits = ['apple','kiwi']

if list_fruits:
    print(list_fruits[0])
else:
    print('There are No items in the list')

apple

In [94]:
list_fruits = []

if list_fruits:
    print(list_fruits[0])
else:
    print('There are No items in the list')

There are No items in the list

In [ ]:
Iterables:
    Those which we can loop over
    list
    dict
    set
    str
    tuple
    
Non Iterables:
    int
    float
    bool
    None

In [104]:
sai_pallavi = {'python':3,'java':8}

for suresh in sai_pallavi:
    print(suresh,'--->',sai_pallavi[suresh])

python ---> 3
java ---> 8

In [97]:
x = {1,2,'apple'}

for item in x:
    print(item)

1
2
apple

In [101]:
y = 'The quick brown fox jumps over a lazy dog'
for narojuRamKrishna in y:
    print(narojuRamKrishna)

T
h
e

q
u
i
c
k

b
r
o
w
n

f
o
x

j
u
m
p
s

o
v
e
r

a

l
a
z
y

d
o
g

In [100]:
x = (1,2,3,5,'mango')
for item in x:
    print(item)

1
2
3
5
mango

In [ ]:
## Slicing

# it is possible wherever indexing was possible.
# Where is indexing possible?
1) list
2) str
3) tuple

name[start:stop:step]
stop value is never reached.
by default step is 1

In [107]:
x = ['apple','mango','kiwi']
print(x[0])

apple

In [108]:
print(x[1])

mango

In [109]:
print(x[2])

kiwi

In [112]:
x = ['apple','mango','kiwi','pineapple','peach','apricot']
print(x[0:4:1])

['apple', 'mango', 'kiwi', 'pineapple']

In [113]:
x = ['apple','mango','kiwi','pineapple','peach','apricot']
print(x[0:4])

['apple', 'mango', 'kiwi', 'pineapple']

In [114]:
x = ['apple','mango','kiwi','pineapple','peach','apricot']
print(x[0:4:2])

['apple', 'kiwi']

In [115]:
x = ['apple','mango','kiwi','pineapple','peach','apricot']
print(x[0:4:3])

['apple', 'pineapple']

In [117]:
x = ['apple','mango','kiwi','pineapple','peach','apricot']
print(x[0:4:400000])

['apple']

In [118]:
x = (100,200,300,400,500,600,700)

print(x[1:4])

(200, 300, 400)

In [120]:
x = 'IamNotManjnuBhai'

print(x[3:12],type(x[3:12]))

NotManjnu <class 'str'>

In [131]:
x = [
     [1,2,3],
     [4,5,6],
     [7,8,9],
     [11,12,13]
    ]

y = x[0:2]
print('y =',y)
z = y[0][0:2]
print('z = ',z)

y = [[1, 2, 3], [4, 5, 6]]
z =  [1, 2]

In [132]:
x = ['apple','mango','kiwi','pineapple','peach','apricot']

print(x[::-1])

['apricot', 'peach', 'pineapple', 'kiwi', 'mango', 'apple']

In [135]:
x = ['apple','mango','kiwi','pineapple','peach','apricot']

print(x[:-4:-1])

['apricot', 'pineapple']

In [136]:
x = ['apple','mango','kiwi','pineapple','peach','apricot']

print(x[:-4:-2])

['apricot', 'pineapple']

In [139]:
x = ['apple','mango','kiwi','pineapple','peach','apricot']

print(x[-2:-6:-2])

['peach', 'kiwi']

In [141]:
x = ['apple','mango','kiwi','pineapple','peach','apricot']
print(x[-2])
print(x[-6])

peach
apple